.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-container {
  display: flex;
  border: 1px solid #ccc; /* Same border for both label and input */
  border-radius: 4px; /* Rounded corners for the entire container */
  overflow: hidden; /* Ensures no elements overflow the border */
}

.input-label {
  background-color: lightgray;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.input-field {
  padding: 5px;
  border: none; /* Remove the internal border */
  flex-grow: 1; /* Allow the input to take up remaining space */
  outline: none; /* Remove the outline when focused */
}

.input-suffix {
  background-color: lightgray;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.input-field-small {
  padding: 5px;
  border: none;
  outline: none;
  width: 40px; /* Smaller width for the first input field */
}


